<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<div class="container mt-5">

    {% if tasks %}
        <div class="row g-4">

            {% for task in tasks %}
            <div class="col-md-6 col-lg-4">
                <div class="card shadow-sm h-100 rounded-4">
                    <div class="card-body">

                        <h5 class="card-title fw-bold">
                            {{ task.name }} {% if task.is_completed %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                        </h5>

                    </div>

                    <div class="card-footer bg-white border-0">
                        <small class="text-secondary">
                            {{ task.created|date:"d.m.Y H:i:s" }}
                            {{ task.slot }}
                            <a href="{% url 'tasks_by_date_and_slot' task.created|date:'Y-m-d' task.slot %}">
                                more
                            </a>
                        </small>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    <form id="dateForm">
  <div>
    <label for="task">Выберите дату создания задачи:</label>
    {% now "Y-m-d" as today %}
    <input
      type="date"
      id="task"
      name="task"
      min="{{ request.user.date_joined|date:'Y-m-d' }}"
      max="{{ today }}"
      required
    />
  </div>

  <div>
    <button type="submit">Показать</button>
  </div>
</form>

<script>
  document.getElementById("dateForm").addEventListener("submit", function(e) {
    e.preventDefault();

    const date = document.getElementById("task").value;

    if (date) {
      window.location.href = `/list/${date}/`;
    }
  });
</script>

</div>
    {% else %}

        <div class="text-center mt-5">
            <h2 class="text-muted">Задач не найдено</h2>
        </div>

    {% endif %}

</body>
</html>